{% extends "base.html" %}

{% block title %}Patients{% endblock %}

{% block content %}
        <!-- Main Content -->
                        <h1 class="section-heading text-center">About the Database System</h1>
                        <p class="section-content">
                            The database system implemented by Solomon Kennedy Drzamado serves as a comprehensive solution for managing hospital operations. 
                            This software engineering project was developed using Python, HTML, CSS, and JavaScript.
                        </p>

                        <h2 class="subheading">System Development</h2>
                        <p class="section-content">
                            The first version of the system was built using Python. Subsequently, an enhanced version was developed using Python with the Flask framework for the backend, and HTML, CSS, and JavaScript for the frontend.
                        </p>

                        <h2 class="subheading">Project Details</h2>
                        <p class="section-content">
                            The project aims to streamline hospital management processes, including patient management, doctor scheduling, pharmacy inventory, and administrative tasks.
                            It demonstrates Solomon's familiarity with software development and database management for healthcare institutions.
                        </p>

{% endblock %}
