{% extends "base.html" %}

{% block title %}Patients{% endblock %}

{% block content %}
        <!-- Main Content -->
        
                         <h2 class="text-center">Update Account</h2>
                        <form method="POST" action="{{ url_for('update_account') }}">
                            <div class="form-group">
                                <label for="role">Select Role:</label>
                                <select class="form-control" id="role" name="role" required>
                                    <option value="" disabled selected>Select a role</option>
                                    <option value="doctor">Doctor</option>
                                    <option value="nurse">Nurse</option>
                                    <option value="pharmacist">Pharmacist</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="id">Enter ID:</label>
                                <input type="number" class="form-control" id="id" name="id" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Retrieve Record</button>
                        </form>
           <div class="d-flex justify-content-between">
            {% include 'back_button.html' %}
            {% include 'logout_button.html' %}
        </div>
{% endblock %}